<style>
.row{margin-left: 20%; margin-top: 9%;}

</style>

<div class="image">
<div class="row">
    <div class="col-md-8 col-md-offset-8">
	<h1 class="display-4">CONTACTEZ-NOUS ! </h1>
      <p class="lead">Contactez nous si vous avez des gossips en exclu ! <i class="em em-camera"></i><br><br>
      	<%= link_to "Envoie nous tout ça ici", new_gossip_path, class:"btn btn-light" %>


      </div>
  </div>
</div>