<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"><h1 class="display-4">Secrète page de bienvenue !</h1>
</br>
</br>


<p class="lead">Hey <%= @name1 %></p>
<p class="lead">Un petit gossip random pour toi :</p>
<p class="lead"> <%= @gossip_rand.content %> </p>
</div>