<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"><h1 class="display-4">Page équipe</h1>
</br>
</br>


<p class="lead">Hello nous sommes <b><%= @user1.first_name %>, <%= @user2.first_name %> </b>les créateurs de The Gossip Project</p>

<p class="lead">Notre gossip favoris c'est :<b> <%= @gossip1.content %><b></p>
</div>