<style>
.row{margin-left: 20%; margin-top: 9%;}

</style>

<div class="row">
    <div class="col-md-8 col-md-offset-8">
	<h1 class="display-4">QUI SOMMES NOUS ? </h1><br>
      <p class="lead">Hello nous sommes <b>Nicolas et Aurélien </b>les créateurs de <br>The Gossip Project ! <i class="em em-call_me_hand"></i><br><br><br> <b>Voici notre biographie en latin :</b> <br> <br><%= Faker::Lorem.paragraph(10, false, 4) %>

      	<blockquote class="blockquote">
  <footer class="blockquote-footer">Nicolas <cite title="Source Title">Lorem ipsum gossipum hackingus</cite></footer></blockquote>


      </div>
  </div>