<style>
.row{margin-left: 20%; margin-top: 9%;}

</style>

<div class="image">
<div class="row">
    <div class="col-md-8 col-md-offset-8">
	<h1 class="display-4">BIENVENUE SUR GOSSIP PROJECT</h1>
      <p class="lead"><%= link_to "Créer un nouveau gossip", new_gossip_path, class:"btn btn-light" %></p>


      </div>
  </div>
</div>