<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">BIENVENUE SUR LE GOSSIP PROJECT</h1>
      <p class="lead"><%= link_to "Créer un nouveau gossip", new_gossip_path %></p>