<style>
.card{margin-left: 200px; margin-right: 200px; margin-top: 50px;}
</style>


	<% Gossip.all.each do |gossip| %>
	<div class="card">
  <div class="card-header">
    <%= gossip.title %><br>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= gossip.content %></h5>
    <p class="card-text"><%= link_to "Show more",  gossip_path(gossip.id), :class => "btn btn-primary" %>
  </div>
</div>
</div>
</div>
<% end %> </p>
</div>